.randomize-button, .options-button, .close-button {
    position: absolute;
    top: 20px;

    cursor: pointer;
    user-select: none;
}

.randomize-button, .options-button {
    img {
        height: 50px;
    }
}

.options-button, .close-button {
    right: 20px
}

.randomize-button {
    right: 80px;
}

.close-button {
    img {
        height: 25px;
    }
}
